@font-face {
  font-family: 'Pretendard-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  word-break: break-all;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

h2,
.engsub {
  font-family: 'jalnan';
}

p {
  margin: 0;
  font-family: 'Pretendard-Regular';
}

/* header(헤더영역) */
header {
  position: fixed;
  top: 0;
  z-index: 9000;
  width: 100%;
  max-width: 100vw;
  height: 100px;
  background: #1c2b59;
}

header h1 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-indent: -9999px;
  background: url(../images/camera.svg) no-repeat center;
  background-size: 80px;
}

/* gnb 영역 */
header nav {
  position: absolute;
  top: 0;
  width: 100%;
}

header nav .hammenu {
  z-index: 8000;
  width: 95px;
  height: 95px;
  margin: 0;
  text-indent: -9999px;
  cursor: pointer;
  background: url(../images/hamberger_tab.png) no-repeat center;
  border: none;
}

header nav .menu_list {
  display: none;
  padding: 0;
  margin: 0;
  transform: translate(0, 0);
  transition: all 1s;
}

header nav .menu_list li {
  border-bottom: 1px solid #cccccc;
}

header nav .menu_list li button {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  cursor: pointer;
  background: #141414;
  border: none;
}

header nav .menu_list li button:hover {
  font-weight: bold;
  color: #000000;
  background-color: #cccccc;
  transition: 0.3s;
}

/* main - 메인 컨텐츠 */
main {
  position: relative;
  z-index: 20;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  margin-top: 100px;
}

/* topbtn - 오른쪽 퀵바 */
.topbtn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 444;
  height: 250px;
}

.topbtn ul {
  padding: 0;
  margin: 0;
}

.topbtn ul li {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.topbtn ul li button {
  display: block;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 100%;
}

.topbtn ul li .insta {
  text-indent: -9999px;
  background: url(../images/insta.svg) no-repeat center;
}

.topbtn ul li .friend {
  text-indent: -9999px;
  background: url(../images/kakao.svg) no-repeat center;
}

.topbtn ul li .top {
  text-indent: -9999px;
  background: url(../images/top.svg) no-repeat center;
}

/*intro - 인트로 */
#intro {
  padding-top: 50px;
  background: linear-gradient(180deg, #ffffff 50%, #eeeeee 50%);
}

#intro .intro_wrap {
  width: 80%;
  margin: auto;
}

#intro .intro_wrap .title {
  position: relative;
  font-size: 4rem;
  line-height: 5rem;
  color: #1c2b59;
  text-align: center;
  animation-name: HelloTitle;
  animation-duration: 2s ease-out;
}

#intro .intro_wrap .slider {
  width: 100%;
  height: 100%;
}

#intro .intro_wrap .slider .slider__item {
  width: 90%;
  height: 90%;
  margin: auto;
}

#intro .intro_wrap .slider .slider__item img {
  width: 100%;
  border-radius: 20px;
}

.fade {
  animation-name: fadeSlide;
  animation-duration: 2s;
}

/* kakao - 카카오톡 친구추가 */
#intro .kakao {
  width: 80%;
  padding-bottom: 100px;
  margin: auto;
  margin-top: 50px;
}

#intro .kakao h2 {
  margin-bottom: 30px;
  font-size: 3rem;
  color: #1c2b59;
  text-align: center;
}

#intro .kakao p {
  width: 80%;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
}

#intro .kakao p span {
  font-size: 15px;
  font-weight: normal;
}

#intro .kakao .kakaobtn {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

#intro .kakao .kakaobtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 2.1);
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffed4e;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#intro .kakao .kakaobtn button img {
  margin: 0px 15px 0px 0px;
}

/* 카카오톡 팝업 */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: visibility 0s opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal-container .close-container {
  display: flex;
  justify-content: flex-end;
  width: 400px;
  overflow: hidden;
  background-color: #3b1d1d;
}

.modal-container .close-container button {
  color: #ffffff;
  background: #3b1d1d;
  border: none;
}
/* history - 인화장비 소개 */
#history {
  position: relative;
  margin-top: 100px;
}

#history .emart {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

#history .emart .emart_text_wrap {
  position: relative;
  width: 30%;
  height: 100%;
  animation-name: leftS;
  animation-duration: 2s ease-out;
}

#history .emart img {
  position: relative;
  width: 50%;
  border-radius: 20px;
  animation-name: rightS;
  animation-duration: 2s ease-out;
}

#history .emart .emart_text_wrap h2 {
  padding-bottom: 10px;
  margin: 0;
  font-size: 3rem;
  line-height: 4rem;
  color: #1c2b59;
}

#history .emart .emart_text_wrap .engsub {
  font-size: 1.5rem;
  color: #cccccc;
}

#history .emart .emart_text_wrap p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 25px;
}

/* 인화장비 소개 */
#history .frontier {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

#history .frontier .front_text_wrap {
  position: relative;
  width: 30%;
  height: 100%;
  animation-name: rightS;
  animation-duration: 2s ease-out;
}

#history .frontier img {
  position: relative;
  width: 50%;
  border-radius: 20px;
  animation-name: leftS;
  animation-duration: 2s ease-out;
}

#history .frontier .front_text_wrap h2 {
  padding-bottom: 10px;
  margin: 0;
  font-size: 3rem;
  line-height: 4rem;
  color: #1c2b59;
}

#history .frontier .front_text_wrap .engsub {
  font-size: 1.5rem;
  color: #cccccc;
}

#history .frontier .front_text_wrap p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 25px;
}

/* price__chat - 가격표 */
#price__chat {
  width: 100%;
  padding-bottom: 100px;
  margin-top: 100px;
  background: #1c2b59;
}

#price__chat h2 {
  width: 100%;
  padding-top: 100px;
  margin: 0;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}

#price__chat table {
  width: 72%;
  margin: auto;
  border-collapse: collapse;
  background-color: #ffffff;
}

#price__chat table caption {
  text-indent: -9999px;
}

#price__chat table tbody tr td {
  border: 1px solid #cccccc;
}

#price__chat table tbody td {
  width: 50%;
  height: 50px;
  text-align: center;
}

#price__chat table tbody .chat__title {
  font-weight: bold;
  color: #1c2b59;
  background-color: #eeeeee;
}

#price__chat table tbody tr .price {
  font-weight: bold;
}

/* 인화접수 방법 */
#use {
  position: relative;
  padding-top: 100px;
  margin-bottom: 100px;
}

#use h2 {
  margin: 0;
  font-size: 3rem;
  color: #1c2b59;
  text-align: center;
}

#use .use_wrap {
  width: 72%;
  height: 100%;
  margin: auto;
  margin-top: 50px;
  background-color: #eeeeee;
  border-radius: 20px;
}

#use .use_wrap .useBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 50px;
  margin: auto;
  margin-top: 50px;
}

#use .use_wrap .useBox .frontDesk,
.talk,
.em {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 410px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#use .use_wrap .useBox h3 {
  margin-top: 50px;
  font-family: jalnan;
  color: #1c2b59;
}

#use .use_wrap .useBox p {
  width: 200px;
}

#use .use_wrap .useBox .frontDesk {
  position: relative;
  animation: secTionSlide1;
  animation-duration: 2s ease-out;
}

#use .use_wrap .useBox .talk {
  position: relative;
  animation: secTionSlide2;
  animation-duration: 2s ease-out;
}

#use .use_wrap .useBox .em {
  position: relative;
  animation: secTionSlide3;
  animation-duration: 2s ease-out;
}

/* 지도영역 */
#map_wrap {
  width: 100%;
  height: 100%;
  padding: 100px 0px 100px 0px;
  background-color: #eeeeee;
}

#map_wrap h2 {
  padding-bottom: 10px;
  margin: 0;
  font-size: 3rem;
  line-height: 4rem;
  color: #1c2b59;
  text-align: center;
}

#map_wrap .mappack {
  width: 80%;
  height: 100%;
  margin: auto;
}

#map_wrap .map {
  margin: auto;
  margin-top: 10px;
}

#map_wrap .info_wrap {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

#map_wrap .info_wrap h3 {
  margin-top: 0;
  font-family: jalnan;
  color: #1c2b59;
}

#map_wrap .info_wrap .info,
.vehicle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
}

#map_wrap .info_wrap ul {
  width: 70%;
  padding: 10;
  margin: 0;
}

#map_wrap .info_wrap ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

#map_wrap .info_wrap ul li .colorback {
  width: 100px;
  padding: 3px 10px 3px 10px;
  margin: 0px 10px 0px 10px;
  color: #ffffff;
  text-align: center;
  background-color: #1c2b59;
  border-radius: 20px;
}

footer {
  width: 100%;
  height: 200px;
  font-size: 0.9rem;
  color: #ffffff;
  text-align: center;
  background-color: #141414;
}

footer .footer_box {
  padding: 65px;
}

/* media query 영역 */
@media screen and (max-width: 1200px) {
  /* 퀵바버튼 */
  h2 {
    font-family: 'yg-jalnan' !important;
    font-size: 30px;
  }

  p {
    font-family: 'Pretendard-Regular';
  }

  .topbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: auto;
  }

  .topbtn ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .topbtn ul li {
    width: calc(100% / 3);
    height: 100px;
  }

  .topbtn ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    color: #ffffff;
    border: none;
    border-radius: 0px;
  }

  .topbtn ul li .insta {
    text-indent: -9999px;
    background: url(../images/insta_white.svg) no-repeat;
    background-color: #7128ba;
    background-position: center;
    background-size: 60px;
  }

  .topbtn ul li .friend {
    color: #000;
    text-indent: -9999px;
    background: url(../images/kakaoNoback.svg) no-repeat;
    background-color: #ffed4e;
    background-position: center;
    background-size: 60px;
  }

  .topbtn ul li .top {
    color: #ffffff;
    text-indent: -9999px;
    background: url(../images/topArrow.svg) no-repeat;
    background-color: #555555;
    background-position: center;
    background-size: 60px;
  }

  /* 인트로 */
  #intro {
    padding-top: 50px;
    background: linear-gradient(to top 180deg, #fff 30%, #eee 70%);
  }

  #intro .intro_wrap .title {
    width: 100%;
    font-size: 50px;
  }

  /* 카카오BTN */
  #kakao h2 {
    width: 60%;
    margin: auto;
  }

  #kakao .kakaobtn button {
    color: #000;
  }

  /* 프론티어 영역 */
  #history .emart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
  }

  #history .emart .emart_text_wrap {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    text-align: center;
  }

  #history .emart .emart_text_wrap .engsub {
    font-family: 'yg-jalnan';
    font-size: 18px;
  }

  #history .emart .emart_text_wrap h2 {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
  }

  #history .emart img {
    width: 100%;
  }

  #history .frontier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  #history .frontier img {
    width: 100%;
    margin-top: 50px;
  }

  #history .frontier .front_text_wrap {
    width: 100%;
    margin-top: 30px;
  }

  #history .frontier .front_text_wrap h2 {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
  }

  #history .frontier .front_text_wrap .engsub {
    font-family: 'yg-jalnan';
    font-size: 18px;
  }

  /* 카카오 버튼 */

  #intro .kakao {
    width: 100%;
    height: 100%;
  }

  #intro .kakao h2 {
    width: 100%;
    font-size: 30px;
  }

  #intro .kakao .kakaobtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #intro .kakao .kakaobtn button {
    width: 80%;
    margin: 20px 0px 0px 0px;
  }

  /* 가격표 */
  #price__chat h2 {
    font-size: 30px;
  }

  #price__chat table {
    width: 90%;
  }
  /* 인화 접수 방법 */
  #use h2 {
    font-size: 30px;
  }

  #use .use_wrap {
    width: 90%;
  }

  #use .use_wrap .useBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
  }

  #use .use_wrap .useBox .frontDesk,
  .talk,
  .em {
    width: 100%;
    height: 350px;
    margin-bottom: 50px;
  }

  #use .use_wrap .useBox p {
    width: 80%;
    font-size: 15px;
    line-height: 25px;
  }

  /* 지도영역 */
  #map_wrap {
    width: 100%;
  }

  #map_wrap h2 {
    font-size: 30px;
  }

  #map_wrap .info_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #map_wrap .info_wrap .info,
  .vehicle {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  #map_wrap .info_wrap .info ul {
    width: 100%;
    padding: 0;
  }

  #map_wrap .info_wrap .vehicle {
    padding-top: 30px;
  }

  #map_wrap .info_wrap .vehicle ul {
    width: 100%;
    padding: 0;
  }

  /* footer */
  footer {
    position: absolute;
    z-index: 9970;
    width: 100%;
    height: 320px;
  }

  footer .footer_box {
    width: 74%;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
  }

  footer .footer_box .footer_wrap {
    height: 100%;
    padding: 0;
  }
}

/* animation - 애니메이션 */
/* 메인 fade */
@keyframes fadeSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 왼쪽 슬라이드 */
@keyframes leftS {
  from {
    left: -1000px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes leftBlind {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: -1000px;
    opacity: 0;
  }
}

/* 오른쪽 슬라이드 */
@keyframes rightS {
  from {
    right: -1000px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

@keyframes rightBlind {
  from {
    right: 0px;
    opacity: 1;
  }
  to {
    right: -1000px;
    opacity: 0;
  }
}

/* 타이틀 슬라이드 */
@keyframes HelloTitle {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes HelloBlind {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -200px;
    opacity: 0;
  }
}

/* 인화접수 방법 애니메이션 */
@keyframes secTionSlide1 {
  from {
    top: -900px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes secTionBlind1 {
  from {
    top: 0px;
    opacity: 1;
  }

  to {
    top: -900px;
    opacity: 0;
  }
}

@keyframes secTionSlide2 {
  from {
    top: -600px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes secTionBlind2 {
  from {
    top: 0px;
    opacity: 1;
  }

  to {
    top: -600px;
    opacity: 0;
  }
}

@keyframes secTionSlide3 {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes secTionBlind3 {
  from {
    top: 0px;
    opacity: 1;
  }

  to {
    top: -300px;
    opacity: 0;
  }
}
